<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    {{range (split .Site.Title " ")}}
      <span class="initial">{{substr . 0 1}}</span><span>{{substr . 1}}</span>
    {{end}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{$currentPage := .}}
      {{ with .Site.Menus.main }} {{ range . }}
      <a class="nav-link {{if (eq .Identifier $.Section) | or (eq .URL $currentPage.URL)}}active{{end}}" href="{{.URL}}">{{.Name}}</a>
      {{end}} {{end}}
    </div>
  </div>
</nav>
