{{ define "main" }}
<div class="container">
  <div class="row felx v-align">
    <div class="col-sm-12 col-md-7 col-lg-7">
      <section>
        {{ .Content }}
      </section>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 text-center">
      {{- with resources.Get .Site.Params.imagePath -}}
      {{- $img := .Resize "x300"}}
      <figure>
        <img src="{{$img.RelPermalink}}" class="figure-img img-fluid rounded" alt="{{$.Site.Params.author}}, i.e., me!">
      </figure>
      {{- end -}}
      {{- with .Site.Params.social}}
      <div class="social">
        {{with .email}}<a href="mailto:{{.}}" title="email">{{partial "icon.html" "envelope-solid"}}</a>{{end}}
        {{with .github}}<a href="https://github.com/{{.}}" title="GitHub">{{partial "icon.html" "github-brands"}}</a>{{end}}
        {{with .googleScholar}}<a href="https://scholar.google.com/citations?user={{.}}" title="Google Scholar">{{partial "icon.html" "graduation-cap-solid"}}</a>{{end}}
        <!-- {{with .twitter}}<a href="https://twitter.com/{{.}}" title="Twitter">{{partial "icon.html" "twitter-brands"}}</a>{{end}} -->
      </div>
      {{- end}}
    </div>
  </div>
  <section>
    {{ partial "heading.html" (dict "n" 2 "text" "Recent important publications")}}
    <ol>
      {{- range first .Site.Params.home.recentPubs (sort ( where (where .Site.RegularPages "Section" "publications") ".Params.pub_important" true) ".Params.pub_year" "desc") -}}
        {{ partial "pub-list-item.html" .}}
      {{- end -}}
    </ol>
    See <a href="{{ref . "/publications" | relURL }}">all publications</a>.
  </section>
</div>
{{ end }}
